services:
  postgres:
    image: postgres:latest
    container_name: mypostgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: test_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d test_db']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - postgres-net

volumes:
  postgres_data:
    driver: local # Persistent, survives restarts

networks:
  postgres-net:
    driver: bridge
